{
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "no-console": ["error", { allow: ["warn", "error"] }],
    "no-underscore-dangle": 0
  },
  "globals": {
    "moment": false,
    "jQuery": false
   }
}